<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1922</integer>
	<key>capHeight</key>
	<integer>1384</integer>
	<key>copyright</key>
	<string>Copyright (c) 2014 by Robert Keller.</string>
	<key>descender</key>
	<integer>-1005</integer>
	<key>familyName</key>
	<string>Vesper Devanagari Libre</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/08/24 08:45:42</string>
	<key>openTypeNameDesigner</key>
	<string>Rob Keller &amp; Kimya Gandhi</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.motaitalic.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Mota Italic</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.motaitalic.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Vesper Devanagari Libre</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Medium</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>950</integer>
		<integer>975</integer>
		<integer>1187</integer>
		<integer>1212</integer>
		<integer>1384</integer>
		<integer>1419</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-500</integer>
		<integer>-475</integer>
		<integer>-35</integer>
		<integer>-25</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>119</integer>
		<integer>139</integer>
		<integer>159</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>207</integer>
		<integer>237</integer>
		<integer>242</integer>
		<integer>256</integer>
		<integer>272</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>vendorID</key>
	<string>MOTA</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>13</integer>
	<key>xHeight</key>
	<integer>950</integer>
</dict>
</plist>
