<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-56</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>12</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>27</integer>
		<key>@MMK_R_emdash</key>
		<integer>-93</integer>
		<key>@MMK_R_quotedblright</key>
		<integer>23</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-126</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-59</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_emdash</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-122</integer>
		<key>@MMK_R_c</key>
		<integer>-90</integer>
		<key>@MMK_R_emdash</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>31</integer>
		<key>@MMK_R_emdash</key>
		<integer>-78</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>42</integer>
		<key>@MMK_R_emdash</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>31</integer>
		<key>@MMK_R_emdash</key>
		<integer>-69</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>42</integer>
		<key>@MMK_R_emdash</key>
		<integer>-99</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>8</integer>
		<key>@MMK_R_emdash</key>
		<integer>-56</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-49</integer>
		<key>@MMK_R_c</key>
		<integer>-27</integer>
		<key>@MMK_R_quotedblright</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-106</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>4</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_quotedblleft</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-68</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-102</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-76</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>-112</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-220</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>quotedblright</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-23</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-76</integer>
		<key>comma</key>
		<integer>-105</integer>
		<key>o</key>
		<integer>-94</integer>
		<key>period</key>
		<integer>-144</integer>
		<key>quotedblright</key>
		<integer>59</integer>
		<key>quoteright</key>
		<integer>58</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-119</integer>
		<key>period</key>
		<integer>-127</integer>
		<key>quotedblright</key>
		<integer>71</integer>
		<key>quoteright</key>
		<integer>55</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-170</integer>
		<key>period</key>
		<integer>-168</integer>
		<key>quotedblright</key>
		<integer>79</integer>
		<key>quoteright</key>
		<integer>73</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>quotedblright</key>
		<integer>34</integer>
		<key>quoteright</key>
		<integer>43</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>comma</key>
		<integer>-165</integer>
		<key>quotedblright</key>
		<integer>91</integer>
		<key>quoteright</key>
		<integer>67</integer>
	</dict>
	<key>aadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>adeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>aideva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>anusvaradeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>quotedblright</key>
		<integer>-15</integer>
	</dict>
	<key>bhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>bhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>quotedblright</key>
		<integer>4</integer>
	</dict>
	<key>cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>cadeva_viramadeva</key>
	<dict>
		<key>chadeva</key>
		<integer>-21</integer>
		<key>dhadeva</key>
		<integer>-61</integer>
		<key>lladeva</key>
		<integer>10</integer>
		<key>ngadeva</key>
		<integer>50</integer>
		<key>uni0915094D0937094D0930</key>
		<integer>-12</integer>
		<key>uni092B</key>
		<integer>-31</integer>
	</dict>
	<key>cadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>candrabindudeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>chadeva</key>
	<dict>
		<key>rradeva</key>
		<integer>12</integer>
		<key>uni092C</key>
		<integer>-6</integer>
	</dict>
	<key>chadeva_viramadeva_nadeva</key>
	<dict>
		<key>rradeva</key>
		<integer>12</integer>
		<key>uni092C</key>
		<integer>-6</integer>
	</dict>
	<key>chadeva_viramadeva_vadeva</key>
	<dict>
		<key>rradeva</key>
		<integer>12</integer>
		<key>uni092C</key>
		<integer>-6</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>quotedblright</key>
		<integer>-119</integer>
	</dict>
	<key>dadeva_uuvowelsigndeva</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>dadeva_uvowelsigndeva</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>dadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ddadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddadeva_viramadeva_ddadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddadeva_viramadeva_ddhadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddadeva_viramadeva_ghadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ddadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddadeva_viramadeva_ttadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddhadeva_viramadeva_ddhadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>ddhadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>dhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>dhadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-102</integer>
		<key>ngadeva</key>
		<integer>45</integer>
		<key>nnadeva</key>
		<integer>-51</integer>
		<key>ssadeva</key>
		<integer>-63</integer>
		<key>uni092B</key>
		<integer>-82</integer>
	</dict>
	<key>dhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>dottedcircle</key>
	<dict>
		<key>acutedeva</key>
		<integer>-464</integer>
		<key>aivowelsigndeva</key>
		<integer>-762</integer>
		<key>aivowelsigndeva_anusvaradeva</key>
		<integer>-762</integer>
		<key>anudattadeva</key>
		<integer>-93</integer>
		<key>anusvaradeva</key>
		<integer>-756</integer>
		<key>candrabindudeva</key>
		<integer>-738</integer>
		<key>ecandravowelsigndeva</key>
		<integer>-700</integer>
		<key>eshortvowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva</key>
		<integer>-762</integer>
		<key>evowelsigndeva_anusvaradeva</key>
		<integer>-762</integer>
		<key>gravedeva</key>
		<integer>-464</integer>
		<key>nuktadeva</key>
		<integer>-762</integer>
		<key>radeva_viramadeva</key>
		<integer>-762</integer>
		<key>radeva_viramadeva_anusvaradeva</key>
		<integer>-731</integer>
		<key>rrvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>rvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>udattadeva</key>
		<integer>-800</integer>
		<key>uni09470930094D</key>
		<integer>-762</integer>
		<key>uni09470930094D0902</key>
		<integer>-762</integer>
		<key>uni09480930094D</key>
		<integer>-762</integer>
		<key>uni09480930094D0902</key>
		<integer>-762</integer>
		<key>uni094D09300941</key>
		<integer>-819</integer>
		<key>uni094D09300942</key>
		<integer>-819</integer>
		<key>uuvowelsigndeva</key>
		<integer>-762</integer>
		<key>uvowelsigndeva</key>
		<integer>-762</integer>
		<key>viramadeva</key>
		<integer>-762</integer>
		<key>viramadeva_radeva</key>
		<integer>-819</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<integer>-72</integer>
		<key>quotedblright</key>
		<integer>-19</integer>
	</dict>
	<key>edeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>ninedeva</key>
		<integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedblright</key>
		<integer>226</integer>
		<key>quoteright</key>
		<integer>225</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>seven</key>
		<integer>-64</integer>
	</dict>
	<key>gadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>gadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>gadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ghadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ghadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-102</integer>
		<key>ngadeva</key>
		<integer>45</integer>
		<key>nnadeva</key>
		<integer>-51</integer>
		<key>ssadeva</key>
		<integer>-63</integer>
		<key>uni092B</key>
		<integer>-82</integer>
	</dict>
	<key>ghadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ghadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotedblright</key>
		<integer>-31</integer>
	</dict>
	<key>hadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_rvocalicvowelsigndeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_viramadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-43</integer>
	</dict>
	<key>hadeva_viramadeva_madeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_viramadeva_nadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_viramadeva_nnadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_viramadeva_radeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hadeva_viramadeva_vadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>G</key>
		<integer>15</integer>
		<key>W</key>
		<integer>-11</integer>
		<key>Y</key>
		<integer>-77</integer>
	</dict>
	<key>ideva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>iideva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>jadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>jadeva_viramadeva_nyadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>jadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>jhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>jhadeva_uvowelsigndeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>jhadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>kadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-88</integer>
		<key>lladeva</key>
		<integer>-90</integer>
		<key>ngadeva</key>
		<integer>-75</integer>
		<key>nyadeva</key>
		<integer>17</integer>
		<key>thadeva</key>
		<integer>-25</integer>
	</dict>
	<key>kadeva_viramadeva_ssadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>khadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>khadeva_viramadeva</key>
	<dict>
		<key>dhadeva</key>
		<integer>-38</integer>
		<key>lladeva</key>
		<integer>6</integer>
		<key>nnadeva</key>
		<integer>-56</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
		<key>uni092B</key>
		<integer>-60</integer>
	</dict>
	<key>khadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>khadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>quotedblright</key>
		<integer>-56</integer>
	</dict>
	<key>madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>madeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nadeva_viramadeva_bhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nadeva_viramadeva_madeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>one</key>
		<integer>-4</integer>
	</dict>
	<key>nnadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nnadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nyadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nyadeva_viramadeva_cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nyadeva_viramadeva_jadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>nyadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>quoteright</key>
		<integer>-65</integer>
	</dict>
	<key>ocandravowelsigndeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>seven</key>
		<integer>-15</integer>
	</dict>
	<key>padeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>padeva_viramadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>31</integer>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>padeva_viramadeva_jhadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>padeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>quotedblright</key>
		<integer>-139</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-115</integer>
		<key>C</key>
		<integer>-19</integer>
		<key>G</key>
		<integer>-43</integer>
		<key>O</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>45</integer>
		<key>V</key>
		<integer>64</integer>
		<key>W</key>
		<integer>60</integer>
		<key>X</key>
		<integer>27</integer>
		<key>Y</key>
		<integer>84</integer>
		<key>b</key>
		<integer>11</integer>
		<key>c</key>
		<integer>-86</integer>
		<key>d</key>
		<integer>-23</integer>
		<key>e</key>
		<integer>-68</integer>
		<key>g</key>
		<integer>-56</integer>
		<key>o</key>
		<integer>-74</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>C</key>
		<integer>-25</integer>
		<key>G</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>41</integer>
		<key>V</key>
		<integer>38</integer>
		<key>W</key>
		<integer>44</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>45</integer>
		<key>o</key>
		<integer>-79</integer>
	</dict>
	<key>rrvocalicdeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>rvocalicdeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>sadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>sadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>sadeva_viramadeva_thadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-39</integer>
		<key>four</key>
		<integer>-84</integer>
		<key>one</key>
		<integer>-4</integer>
		<key>six</key>
		<integer>-71</integer>
		<key>two</key>
		<integer>-25</integer>
		<key>zero</key>
		<integer>-38</integer>
	</dict>
	<key>shadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>shadeva_viramadeva_cadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>shadeva_viramadeva_nadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>shadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>shadeva_viramadeva_vadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>four</key>
		<integer>8</integer>
		<key>seven</key>
		<integer>-11</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>twodeva</key>
		<integer>-50</integer>
	</dict>
	<key>ssadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>ssadeva_viramadeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>31</integer>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>tadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>tadeva_viramadeva</key>
	<dict>
		<key>jadeva</key>
		<integer>119</integer>
		<key>nnnadeva</key>
		<integer>-43</integer>
		<key>shadeva</key>
		<integer>-26</integer>
	</dict>
	<key>tadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>tadeva_viramadeva_tadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>thadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>thadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-25</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>quotedblright</key>
		<integer>-19</integer>
	</dict>
	<key>uni0915094D0937094D092E</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0915094D0937094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0915094D0937094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0917094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0918094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-102</integer>
		<key>ngadeva</key>
		<integer>45</integer>
		<key>nnadeva</key>
		<integer>-51</integer>
		<key>ssadeva</key>
		<integer>-63</integer>
		<key>uni092B</key>
		<integer>-82</integer>
	</dict>
	<key>uni091F094D091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0920094D0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0921094D0921094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0921094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0922094D0922094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0922094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0924094D0924094D</key>
	<dict>
		<key>jadeva</key>
		<integer>119</integer>
		<key>nnnadeva</key>
		<integer>-43</integer>
		<key>shadeva</key>
		<integer>-26</integer>
	</dict>
	<key>uni0926094D09170942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D09180941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09180942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D09260941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09260942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D0926094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0926094D09270941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09270942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D0927094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0926094D09280941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09280942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D092C0941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D092C0942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D092D0941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D092D0942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D092D094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0926094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0926094D09300941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09300942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D0930094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0926094D09350941</key>
	<dict>
		<key>uni0926094D09260942</key>
		<integer>-34</integer>
	</dict>
	<key>uni0926094D09350942</key>
	<dict>
		<key>uni0926094D09260941</key>
		<integer>-54</integer>
		<key>uni0926094D09280941</key>
		<integer>-58</integer>
		<key>uni0926094D09300941</key>
		<integer>-41</integer>
		<key>uni0926094D09350941</key>
		<integer>7</integer>
	</dict>
	<key>uni0926094D0935094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0927094D0930094D</key>
	<dict>
		<key>dhadeva</key>
		<integer>-102</integer>
		<key>ngadeva</key>
		<integer>45</integer>
		<key>nnadeva</key>
		<integer>-51</integer>
		<key>ssadeva</key>
		<integer>-63</integer>
		<key>uni092B</key>
		<integer>-82</integer>
	</dict>
	<key>uni092C</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni092C094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni092F094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0932</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0932094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0937094D091F094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0937094D0920094D092F</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0937094D0920094D0935</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0938094D0924094D0930</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>uni0939094D092F</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>uni0939094D0932</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>uni093E</key>
	<dict>
		<key>nyadeva</key>
		<integer>31</integer>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>uudeva</key>
	<dict>
		<key>nyadeva</key>
		<integer>-56</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>quotedblright</key>
		<integer>19</integer>
	</dict>
	<key>vadeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>vadeva_viramadeva_radeva</key>
	<dict>
		<key>bhadeva</key>
		<integer>-8</integer>
		<key>rradeva</key>
		<integer>26</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>quotedblright</key>
		<integer>15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>quotedblright</key>
		<integer>19</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>quotedblright</key>
		<integer>27</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>seven</key>
		<integer>-19</integer>
	</dict>
</dict>
</plist>
