<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1472</integer>
	<key>capHeight</key>
	<integer>1384</integer>
	<key>copyright</key>
	<string>Copyright © 2014 by Rob Keller.</string>
	<key>descender</key>
	<integer>-475</integer>
	<key>familyName</key>
	<string>Vesper Devanagari Libre</string>
	<key>fsType</key>
	<array>
	</array>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/06/25 15:43:44</string>
	<key>openTypeNameDesigner</key>
	<string>Rob Keller &amp; Kimya Gandhi</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.motaitalic.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Mota Italic</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.motaitalic.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Vesper Devanagari Libre</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-35</integer>
		<integer>-25</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>950</integer>
		<integer>975</integer>
		<integer>1187</integer>
		<integer>1212</integer>
		<integer>1384</integer>
		<integer>1419</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-500</integer>
		<integer>-475</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>124</integer>
		<integer>147</integer>
		<integer>189</integer>
		<integer>198</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>297</integer>
		<integer>339</integer>
		<integer>344</integer>
		<integer>360</integer>
		<integer>383</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Vesper is a trademark of Rob Keller.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>vendorID</key>
	<string>MOTA</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>7</integer>
	<key>xHeight</key>
	<integer>950</integer>
</dict>
</plist>
