<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>UUID0</key>
		<dict>
	</dict>
		<key>UUID1</key>
		<dict>
	</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>75</integer>
		<key>GSOffsetVertical</key>
		<integer>20</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID1</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>344</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>kadeva</string>
		<string>khadeva</string>
		<string>gadeva</string>
		<string>ghadeva</string>
		<string>ngadeva</string>
		<string>cadeva</string>
		<string>chadeva</string>
		<string>jadeva</string>
		<string>jhadeva</string>
		<string>nyadeva</string>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddadeva</string>
		<string>ddhadeva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>padeva</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>uni092F</string>
		<string>radeva</string>
		<string>rradeva</string>
		<string>uni0932</string>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>hadeva</string>
		<string>qadeva</string>
		<string>khhadeva</string>
		<string>ghhadeva</string>
		<string>zadeva</string>
		<string>dddhadeva</string>
		<string>rhadeva</string>
		<string>fadeva</string>
		<string>yyadeva</string>
		<string>uni0979</string>
		<string>uni097A</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uni0932.loclMAR</string>
		<string>shadeva.loclMAR</string>
		<string>uni092F.post</string>
		<string>vadeva.post</string>
		<string>nadeva.post2</string>
		<string>radeva.post2</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0924094D0924</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0935</string>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D092E</string>
		<string>uni0915094D0937094D092F</string>
		<string>uni0915094D0937094D0930</string>
		<string>uni0916094D0928</string>
		<string>uni0916094D0930</string>
		<string>uni0917094D0928</string>
		<string>uni0917094D0928094D092F</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0930094D092F</string>
		<string>uni0918094D0928</string>
		<string>uni0918094D0930</string>
		<string>uni0919094D0915</string>
		<string>uni0919094D0915094D0924094D0924</string>
		<string>uni0919094D0915094D0930</string>
		<string>uni0919094D0915094D0937</string>
		<string>uni0919094D0916</string>
		<string>uni0919094D0917</string>
		<string>uni0919094D0917094D0930</string>
		<string>uni0919094D0918</string>
		<string>uni0919094D0918094D0930</string>
		<string>uni0919094D092E</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D091B094D0935</string>
		<string>uni091A094D0930</string>
		<string>uni091B094D0928</string>
		<string>uni091B094D0935</string>
		<string>uni091C094D091E</string>
		<string>uni091C094D091E094D0930</string>
		<string>uni091C094D0930</string>
		<string>jhadeva_uvowelsigndeva</string>
		<string>uni091D094D0930</string>
		<string>uni091E094D091A</string>
		<string>uni091E094D091C</string>
		<string>uni091E094D0930</string>
		<string>uni091F094D091F</string>
		<string>uni091F094D091F094D092F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D0922</string>
		<string>uni091F094D0928</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D0935</string>
		<string>uni0920094D0920</string>
		<string>uni0920094D0920094D092F</string>
		<string>uni0920094D0928</string>
		<string>uni0920094D092F</string>
		<string>uni0921094D0918</string>
		<string>uni0921094D091F</string>
		<string>uni0921094D0921</string>
		<string>uni0921094D0921094D092F</string>
		<string>uni0921094D0922</string>
		<string>uni0921094D0928</string>
		<string>uni0921094D092E</string>
		<string>uni0921094D092F</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D0922094D092F</string>
		<string>uni0922094D0928</string>
		<string>uni0922094D092F</string>
		<string>uni0923094D0930</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0930</string>
		<string>uni0924094D0930094D092F</string>
		<string>uni0925094D0930</string>
		<string>dadeva_uvowelsigndeva</string>
		<string>dadeva_uuvowelsigndeva</string>
		<string>uni0926094D0917</string>
		<string>uni0926094D09170941</string>
		<string>uni0926094D09170942</string>
		<string>uni0926094D0917094D0930</string>
		<string>uni0926094D0918</string>
		<string>uni0926094D09180941</string>
		<string>uni0926094D09180942</string>
		<string>uni0926094D0918094D092F</string>
		<string>uni0926094D0926</string>
		<string>uni0926094D09260941</string>
		<string>uni0926094D09260942</string>
		<string>uni0926094D0926094D092F</string>
		<string>uni0926094D0927</string>
		<string>uni0926094D09270941</string>
		<string>uni0926094D09270942</string>
		<string>uni0926094D0927094D092F</string>
		<string>uni0926094D0927094D0930094D092F</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D09280941</string>
		<string>uni0926094D09280942</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D092C0941</string>
		<string>uni0926094D092C0942</string>
		<string>uni0926094D092C094D0930</string>
		<string>uni0926094D092D</string>
		<string>uni0926094D092D0941</string>
		<string>uni0926094D092D0942</string>
		<string>uni0926094D092D094D092F</string>
		<string>uni0926094D092E</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D0930</string>
		<string>uni0926094D09300941</string>
		<string>uni0926094D09300942</string>
		<string>uni0926094D0930094D092F</string>
		<string>uni0926094D0935</string>
		<string>uni0926094D09350941</string>
		<string>uni0926094D09350942</string>
		<string>uni0926094D0935094D092F</string>
		<string>uni0926094D0943</string>
		<string>uni0927094D0930</string>
		<string>uni0928094D0928</string>
		<string>uni0928094D0928094D092F</string>
		<string>uni0928094D092D</string>
		<string>uni0928094D092E</string>
		<string>uni0928094D0930</string>
		<string>uni092A094D091D</string>
		<string>uni092A094D091F</string>
		<string>uni092A094D0924</string>
		<string>uni092A094D0930</string>
		<string>uni092B094D0930</string>
		<string>uni092C094D091C</string>
		<string>uni092C094D0930</string>
		<string>uni092D094D0930</string>
		<string>uni092E094D0930</string>
		<string>uni092F094D0930</string>
		<string>radeva_uvowelsigndeva</string>
		<string>radeva_uuvowelsigndeva</string>
		<string>uni0931094D092F</string>
		<string>uni0931094D0939</string>
		<string>uni0932094D0930</string>
		<string>uni0935094D0930</string>
		<string>uni0935094D0939</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D0928</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D0930094D092F</string>
		<string>uni0936094D0935</string>
		<string>uni0937094D091F</string>
		<string>uni0937094D091F094D092F</string>
		<string>uni0937094D091F094D0935</string>
		<string>uni0937094D0920</string>
		<string>uni0937094D0920094D092F</string>
		<string>uni0937094D0920094D0935</string>
		<string>uni0937094D0930</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0925</string>
		<string>uni0938094D0930</string>
		<string>hadeva_uvowelsigndeva</string>
		<string>hadeva_uuvowelsigndeva</string>
		<string>hadeva_rvocalicvowelsigndeva</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>uni095E094D0930</string>
		<string>uni0915094D0930.alt</string>
		<string>uni091A094D091A.alt</string>
		<string>uni091C094D091C.alt</string>
		<string>uni0924094D0930.alt</string>
		<string>uni0924094D0930094D092F.alt</string>
		<string>uni0915094D0932.loclMAR</string>
		<string>uni0916094D0932.loclMAR</string>
		<string>uni0917094D0932.loclMAR</string>
		<string>uni0918094D0932.loclMAR</string>
		<string>uni091A094D0932.loclMAR</string>
		<string>uni091B094D0932.loclMAR</string>
		<string>uni092A094D0932.loclMAR</string>
		<string>uni092B094D0932.loclMAR</string>
		<string>uni092C094D0932.loclMAR</string>
		<string>uni092D094D0932.loclMAR</string>
		<string>uni092E094D0932.loclMAR</string>
		<string>uni0932094D0932.loclMAR</string>
		<string>uni0935094D0932.loclMAR</string>
		<string>uni0936094D0932.loclMAR</string>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>adeva</string>
		<string>aadeva</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>udeva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>rrvocalicdeva</string>
		<string>lvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>ecandradeva</string>
		<string>eshortdeva</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>ocandradeva</string>
		<string>oshortdeva</string>
		<string>odeva</string>
		<string>audeva</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni0915094D</string>
		<string>uni0915094D0937094D</string>
		<string>uni0916094D</string>
		<string>uni0917094D</string>
		<string>uni0917094D0928094D</string>
		<string>uni0917094D0930094D</string>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
		<string>uni0919094D</string>
		<string>uni0919094D0915094D</string>
		<string>uni091A094D</string>
		<string>uni091B094D</string>
		<string>uni091C094D</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D0930094D</string>
		<string>uni091D094D</string>
		<string>uni091E094D</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0921094D</string>
		<string>uni0922094D</string>
		<string>uni0923094D</string>
		<string>uni0924094D</string>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D0930094D</string>
		<string>uni0925094D</string>
		<string>uni0926094D</string>
		<string>uni0927094D</string>
		<string>uni0927094D0930094D</string>
		<string>uni0928094D</string>
		<string>uni0928094D0928094D</string>
		<string>uni0929094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni092C094D</string>
		<string>uni092D094D</string>
		<string>uni092D094D0928094D</string>
		<string>uni092D094D0930094D</string>
		<string>uni092E094D</string>
		<string>uni092E094D0928094D</string>
		<string>uni092E094D0930094D</string>
		<string>uni092F094D</string>
		<string>uni092F094D0928094D</string>
		<string>uni092F094D0930094D</string>
		<string>uni0931094D</string>
		<string>uni0932094D</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
		<string>uni0935094D</string>
		<string>uni0935094D0928094D</string>
		<string>uni0935094D0930094D</string>
		<string>uni0936094D</string>
		<string>uni0936094D0930094D</string>
		<string>uni0937094D</string>
		<string>uni0938094D</string>
		<string>uni0939094D</string>
		<string>uni0958094D</string>
		<string>uni0959094D</string>
		<string>uni095A094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni093F0930094D</string>
		<string>uni093F0930094D0902</string>
		<string>uni0940</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>ocandravowelsigndeva</string>
		<string>uni094A</string>
		<string>oMatra_anusvara-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>ovowelsigndeva</string>
		<string>uni094C_uni0902</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>uni094C</string>
		<string>uni094E</string>
		<string>uni093B</string>
		<string>uni094F</string>
		<string>uni093F.0</string>
		<string>uni093F0930094D.0</string>
		<string>uni093F0930094D0902.0</string>
		<string>uni093F.01</string>
		<string>uni093F0930094D.01</string>
		<string>uni093F0930094D0902.01</string>
		<string>uni093F.02</string>
		<string>uni093F0930094D.02</string>
		<string>uni093F0930094D0902.02</string>
		<string>uni0940.02</string>
		<string>iiMatra_reph-deva.02</string>
		<string>iiMatra_reph_anusvara-deva.02</string>
		<string>uni093F.03</string>
		<string>uni093F0930094D.03</string>
		<string>uni093F0930094D0902.03</string>
		<string>uni093F.05</string>
		<string>uni093F0930094D.05</string>
		<string>uni093F0930094D0902.05</string>
		<string>uni093F.08</string>
		<string>uni093F0930094D.08</string>
		<string>uni093F0930094D0902.08</string>
		<string>uni093F.10</string>
		<string>uni093F0930094D.10</string>
		<string>uni093F0930094D0902.10</string>
		<string>uni093F.15</string>
		<string>uni093F0930094D.15</string>
		<string>uni093F0930094D0902.15</string>
		<string>uni093F.20</string>
		<string>uni093F0930094D.20</string>
		<string>uni093F0930094D0902.20</string>
		<string>uni093F.25</string>
		<string>uni093F0930094D.25</string>
		<string>uni093F0930094D0902.25</string>
		<string>uni093F.30</string>
		<string>uni093F0930094D.30</string>
		<string>uni093F0930094D0902.30</string>
		<string>uni091C094D091C094D.alt</string>
		<string>uni0936094D.loclMAR</string>
		<string>uni0936094D.ss02</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zerodeva</string>
		<string>onedeva</string>
		<string>twodeva</string>
		<string>threedeva</string>
		<string>fourdeva</string>
		<string>fivedeva</string>
		<string>sixdeva</string>
		<string>sevendeva</string>
		<string>eightdeva</string>
		<string>ninedeva</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni097D</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviationsigndeva</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>space.001</string>
		<string>space.deva</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20A8</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>dottedcircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>avagrahadeva</string>
		<string>omdeva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>caron.alt</string>
		<string>acute.case</string>
		<string>breve.case</string>
		<string>caron.case</string>
		<string>cedilla.case</string>
		<string>circumflex.case</string>
		<string>dieresis.case</string>
		<string>dotaccent.case</string>
		<string>grave.case</string>
		<string>hungarumlaut.case</string>
		<string>macron.case</string>
		<string>ring.case</string>
		<string>tilde.case</string>
		<string>uni0326</string>
		<string>visargadeva</string>
		<string>uvowelsigndeva</string>
		<string>uuvowelsigndeva</string>
		<string>rvocalicvowelsigndeva</string>
		<string>rrvocalicvowelsigndeva</string>
		<string>lvocalicvowelsigndeva</string>
		<string>llvocalicvowelsigndeva</string>
		<string>ecandravowelsigndeva</string>
		<string>candrabindudeva</string>
		<string>eshortvowelsigndeva</string>
		<string>evowelsigndeva</string>
		<string>evowelsigndeva_anusvaradeva</string>
		<string>uni09470930094D</string>
		<string>uni09470930094D0902</string>
		<string>aivowelsigndeva</string>
		<string>aivowelsigndeva_anusvaradeva</string>
		<string>uni09480930094D</string>
		<string>uni09480930094D0902</string>
		<string>anusvaradeva</string>
		<string>viramadeva</string>
		<string>nuktadeva</string>
		<string>uni0930094D</string>
		<string>uni0930094D0902</string>
		<string>uni094D0930</string>
		<string>uni094D09300941</string>
		<string>uni094D09300942</string>
		<string>uni093A</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>udattadeva</string>
		<string>anudattadeva</string>
		<string>gravedeva</string>
		<string>acutedeva</string>
		<string>anusvaradeva.001</string>
		<string>candrabindudeva.imatra</string>
		<string>uni0930094D.loclMAR</string>
		<string>uni0930094D</string>
		<string>uni0930094D0902.imatra</string>
		<string>nepali_jha_091d</string>
		<string>nepali_jha_half</string>
		<string>np5</string>
		<string>np8</string>
		<string>np_zha</string>
		<string>npu0915_u0930_u094D.blwf.vatu</string>
	</array>
</dict>
</plist>
