<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_b-deva</key>
	<array>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
		<string>uni0935094D0928094D</string>
		<string>uni0935094D0930094D</string>
	</array>
	<key>@MMK_L_c-deva</key>
	<array>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_L_ch-deva</key>
	<array>
		<string>uni091B094D</string>
	</array>
	<key>@MMK_L_cha-deva</key>
	<array>
		<string>chadeva</string>
		<string>uni091A094D091B094D0935</string>
		<string>uni091B094D0928</string>
		<string>uni091B094D0935</string>
	</array>
	<key>@MMK_L_d_ra_uMatra-deva</key>
	<array>
		<string>dadeva_uvowelsigndeva</string>
		<string>uni0926094D09180941</string>
		<string>uni0926094D09260941</string>
		<string>uni0926094D09270941</string>
		<string>uni0926094D09280941</string>
		<string>uni0926094D092C0941</string>
		<string>uni0926094D092D0941</string>
		<string>uni0926094D09300941</string>
		<string>uni0926094D09350941</string>
	</array>
	<key>@MMK_L_d_ra_uuMatra-deva</key>
	<array>
		<string>dadeva_uuvowelsigndeva</string>
		<string>uni0926094D09170942</string>
		<string>uni0926094D09180942</string>
		<string>uni0926094D09260942</string>
		<string>uni0926094D09270942</string>
		<string>uni0926094D09280942</string>
		<string>uni0926094D092C0942</string>
		<string>uni0926094D092D0942</string>
		<string>uni0926094D09300942</string>
		<string>uni0926094D09350942</string>
	</array>
	<key>@MMK_L_da-deva</key>
	<array>
		<string>dadeva</string>
		<string>uni0926094D0917</string>
		<string>uni0926094D0917094D0930</string>
		<string>uni0926094D0918</string>
		<string>uni0926094D0926</string>
		<string>uni0926094D0927</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D092C094D0930</string>
		<string>uni0926094D092D</string>
		<string>uni0926094D0930</string>
		<string>uni0926094D0935</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>ddadeva</string>
		<string>hadeva</string>
		<string>uni0921094D0918</string>
		<string>uni0921094D091F</string>
		<string>uni0921094D0921</string>
		<string>uni0921094D0922</string>
		<string>uni0921094D0928</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D0928</string>
		<string>uni0931094D0939</string>
		<string>hadeva_rvocalicvowelsigndeva</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>rrvocalicdeva</string>
	</array>
	<key>@MMK_L_g-deva</key>
	<array>
		<string>uni0917094D</string>
		<string>uni0917094D0928094D</string>
		<string>uni0917094D0930094D</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
		<string>uni0927094D</string>
		<string>uni0927094D0930094D</string>
	</array>
	<key>@MMK_L_ha-deva</key>
	<array>
		<string>hadeva_uvowelsigndeva</string>
		<string>hadeva_uuvowelsigndeva</string>
	</array>
	<key>@MMK_L_j-deva</key>
	<array>
		<string>uni091C094D</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D0930094D</string>
		<string>uni091C094D091C094D.alt</string>
	</array>
	<key>@MMK_L_jh-deva</key>
	<array>
		<string>uni091D094D</string>
	</array>
	<key>@MMK_L_k-deva</key>
	<array>
		<string>uni0915094D</string>
	</array>
	<key>@MMK_L_k_ss-deva</key>
	<array>
		<string>uni0915094D0937094D</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>kadeva</string>
		<string>uni092B</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0924094D0924</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0935</string>
		<string>uni092B094D0930</string>
		<string>uni0915094D0930.alt</string>
	</array>
	<key>@MMK_L_kh-deva</key>
	<array>
		<string>uni0916094D</string>
	</array>
	<key>@MMK_L_l-deva</key>
	<array>
		<string>uni0932094D</string>
	</array>
	<key>@MMK_L_lla-deva</key>
	<array>
		<string>lladeva</string>
	</array>
	<key>@MMK_L_m-deva</key>
	<array>
		<string>uni092D094D</string>
		<string>uni092D094D0928094D</string>
		<string>uni092D094D0930094D</string>
		<string>uni092E094D</string>
		<string>uni092E094D0928094D</string>
		<string>uni092E094D0930094D</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>uni0928094D</string>
		<string>uni0928094D0928094D</string>
		<string>uni0929094D</string>
	</array>
	<key>@MMK_L_nga-deva</key>
	<array>
		<string>ngadeva</string>
		<string>uni0919094D0915</string>
		<string>uni0919094D0915094D0924094D0924</string>
		<string>uni0919094D0915094D0930</string>
		<string>uni0919094D0915094D0937</string>
		<string>uni0919094D0916</string>
		<string>uni0919094D0917</string>
		<string>uni0919094D0917094D0930</string>
		<string>uni0919094D0918</string>
		<string>uni0919094D0918094D0930</string>
		<string>uni0919094D092E</string>
	</array>
	<key>@MMK_L_nn-deva</key>
	<array>
		<string>uni0923094D</string>
	</array>
	<key>@MMK_L_ny-deva</key>
	<array>
		<string>uni091E094D</string>
	</array>
	<key>@MMK_L_p-deva</key>
	<array>
		<string>uni092A094D</string>
		<string>uni0937094D</string>
		<string>uni093E</string>
	</array>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>khadeva</string>
		<string>gadeva</string>
		<string>ghadeva</string>
		<string>cadeva</string>
		<string>jadeva</string>
		<string>jhadeva</string>
		<string>nyadeva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>padeva</string>
		<string>uni092C</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>uni092F</string>
		<string>uni0932</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D092E</string>
		<string>uni0915094D0937094D092F</string>
		<string>uni0915094D0937094D0930</string>
		<string>uni0916094D0928</string>
		<string>uni0916094D0930</string>
		<string>uni0917094D0928</string>
		<string>uni0917094D0928094D092F</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0930094D092F</string>
		<string>uni0918094D0928</string>
		<string>uni0918094D0930</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D0930</string>
		<string>uni091C094D091E</string>
		<string>uni091C094D0930</string>
		<string>jhadeva_uvowelsigndeva</string>
		<string>uni091D094D0930</string>
		<string>uni091E094D091A</string>
		<string>uni091E094D091C</string>
		<string>uni091E094D0930</string>
		<string>uni091F094D091F094D092F</string>
		<string>uni091F094D092F</string>
		<string>uni0920094D0920094D092F</string>
		<string>uni0920094D092F</string>
		<string>uni0921094D0921094D092F</string>
		<string>uni0921094D092E</string>
		<string>uni0921094D092F</string>
		<string>uni0922094D0922094D092F</string>
		<string>uni0922094D092F</string>
		<string>uni0923094D0930</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0930</string>
		<string>uni0924094D0930094D092F</string>
		<string>uni0925094D0930</string>
		<string>uni0926094D0926094D092F</string>
		<string>uni0926094D0927094D092F</string>
		<string>uni0926094D092D094D092F</string>
		<string>uni0926094D092E</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D0930094D092F</string>
		<string>uni0926094D0935094D092F</string>
		<string>uni0927094D0930</string>
		<string>uni0928094D0928</string>
		<string>uni0928094D0928094D092F</string>
		<string>uni0928094D092D</string>
		<string>uni0928094D092E</string>
		<string>uni0928094D0930</string>
		<string>uni092A094D091D</string>
		<string>uni092A094D0924</string>
		<string>uni092A094D0930</string>
		<string>uni092C094D091C</string>
		<string>uni092C094D0930</string>
		<string>uni092D094D0930</string>
		<string>uni092E094D0930</string>
		<string>uni092F094D0930</string>
		<string>uni0931094D092F</string>
		<string>uni0932094D0930</string>
		<string>uni0935094D0930</string>
		<string>uni0935094D0939</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D0928</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D0930094D092F</string>
		<string>uni0936094D0935</string>
		<string>uni0937094D091F094D092F</string>
		<string>uni0937094D0920094D092F</string>
		<string>uni0937094D0920094D0935</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0925</string>
		<string>uni0938094D0930</string>
		<string>uni091A094D091A.alt</string>
		<string>uni091C094D091C.alt</string>
		<string>uni0924094D0930.alt</string>
		<string>uni0924094D0930094D092F.alt</string>
		<string>adeva</string>
		<string>aadeva</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>ocandravowelsigndeva</string>
	</array>
	<key>@MMK_L_ph-deva</key>
	<array>
		<string>uni092B094D</string>
	</array>
	<key>@MMK_L_ra-deva</key>
	<array>
		<string>radeva</string>
		<string>radeva_uvowelsigndeva</string>
		<string>radeva_uuvowelsigndeva</string>
		<string>udeva</string>
	</array>
	<key>@MMK_L_s-deva</key>
	<array>
		<string>uni0938094D</string>
	</array>
	<key>@MMK_L_sh-deva</key>
	<array>
		<string>uni0936094D</string>
		<string>uni0936094D.loclMAR</string>
	</array>
	<key>@MMK_L_sh_r-deva</key>
	<array>
		<string>uni0936094D0930094D</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>uni0924094D</string>
		<string>uni0924094D0924094D</string>
	</array>
	<key>@MMK_L_tta-deva</key>
	<array>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddhadeva</string>
		<string>uni091F094D091F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D0922</string>
		<string>uni091F094D0928</string>
		<string>uni091F094D0935</string>
		<string>uni0920094D0920</string>
		<string>uni0920094D0928</string>
		<string>uni092A094D091F</string>
		<string>uni0937094D091F</string>
		<string>uni0937094D0920</string>
	</array>
	<key>@MMK_L_y-deva</key>
	<array>
		<string>uni0925094D</string>
		<string>uni092F094D</string>
		<string>uni092F094D0928094D</string>
		<string>uni092F094D0930094D</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
	</array>
	<key>@MMK_R_a-deva</key>
	<array>
		<string>adeva</string>
		<string>aadeva</string>
		<string>udeva</string>
		<string>uudeva</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bhadeva</string>
		<string>uni092D094D0930</string>
		<string>uni092D094D</string>
		<string>uni092D094D0928094D</string>
		<string>uni092D094D0930094D</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>cadeva</string>
		<string>uni091A094D091A</string>
		<string>uni091A094D091B094D0935</string>
		<string>uni091A094D0930</string>
		<string>uni091A094D091A.alt</string>
		<string>uni091A094D</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>uni0915094D0937</string>
		<string>uni0915094D0937094D092E</string>
		<string>uni0915094D0937094D092F</string>
		<string>uni0915094D0937094D0930</string>
		<string>dadeva_uvowelsigndeva</string>
		<string>dadeva_uuvowelsigndeva</string>
		<string>uni0926094D0917</string>
		<string>uni0926094D09170941</string>
		<string>uni0926094D09170942</string>
		<string>uni0926094D0917094D0930</string>
		<string>uni0926094D0918</string>
		<string>uni0926094D09180941</string>
		<string>uni0926094D09180942</string>
		<string>uni0926094D0926</string>
		<string>uni0926094D09260941</string>
		<string>uni0926094D09260942</string>
		<string>uni0926094D0926094D092F</string>
		<string>uni0926094D0927</string>
		<string>uni0926094D09270941</string>
		<string>uni0926094D09270942</string>
		<string>uni0926094D0927094D092F</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D09280941</string>
		<string>uni0926094D09280942</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D092C0941</string>
		<string>uni0926094D092C0942</string>
		<string>uni0926094D092C094D0930</string>
		<string>uni0926094D092D</string>
		<string>uni0926094D092D0941</string>
		<string>uni0926094D092D0942</string>
		<string>uni0926094D092D094D092F</string>
		<string>uni0926094D092E</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D0930</string>
		<string>uni0926094D09300941</string>
		<string>uni0926094D09300942</string>
		<string>uni0926094D0930094D092F</string>
		<string>uni0926094D0935</string>
		<string>uni0926094D09350941</string>
		<string>uni0926094D09350942</string>
		<string>uni0926094D0935094D092F</string>
		<string>uni0915094D0937094D</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>ngadeva</string>
		<string>jhadeva</string>
		<string>ddadeva</string>
		<string>uni0919094D0915</string>
		<string>uni0919094D0915094D0924094D0924</string>
		<string>uni0919094D0915094D0930</string>
		<string>uni0919094D0915094D0937</string>
		<string>uni0919094D0916</string>
		<string>uni0919094D0917</string>
		<string>uni0919094D0917094D0930</string>
		<string>uni0919094D0918</string>
		<string>uni0919094D0918094D0930</string>
		<string>uni0919094D092E</string>
		<string>jhadeva_uvowelsigndeva</string>
		<string>uni091E094D091A</string>
		<string>uni091E094D091C</string>
		<string>uni091E094D0930</string>
		<string>uni0921094D0918</string>
		<string>uni0921094D091F</string>
		<string>uni0921094D0921</string>
		<string>uni0921094D0921094D092F</string>
		<string>uni0921094D0922</string>
		<string>uni0921094D0928</string>
		<string>uni0921094D092E</string>
		<string>uni0921094D092F</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D0922094D092F</string>
		<string>uni0922094D0928</string>
		<string>uni0922094D092F</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>uni091E094D</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>gadeva</string>
		<string>uni0917094D0928</string>
		<string>uni0917094D0928094D092F</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0930094D092F</string>
		<string>uni0917094D</string>
		<string>uni0917094D0928094D</string>
		<string>uni0917094D0930094D</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>ghadeva</string>
		<string>chadeva</string>
		<string>dhadeva</string>
		<string>uni0918094D0928</string>
		<string>uni0918094D0930</string>
		<string>uni091B094D0928</string>
		<string>uni091B094D0935</string>
		<string>uni0927094D0930</string>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
		<string>uni091B094D</string>
		<string>uni0927094D</string>
		<string>uni0927094D0930094D</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>hadeva</string>
		<string>hadeva_uvowelsigndeva</string>
		<string>hadeva_uuvowelsigndeva</string>
		<string>hadeva_rvocalicvowelsigndeva</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_iMatra</key>
	<array>
		<string>uni093F</string>
		<string>uni093F.0</string>
		<string>uni093F.01</string>
		<string>uni093F.02</string>
		<string>uni093F.03</string>
		<string>uni093F.05</string>
		<string>uni093F.08</string>
		<string>uni093F.10</string>
		<string>uni093F.15</string>
		<string>uni093F.20</string>
		<string>uni093F.25</string>
		<string>uni093F.30</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>jadeva</string>
		<string>nyadeva</string>
		<string>uni091C094D091E</string>
		<string>uni091C094D0930</string>
		<string>uni091C094D091C.alt</string>
		<string>uni091C094D</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D0930094D</string>
		<string>uni091C094D091C094D.alt</string>
	</array>
	<key>@MMK_R_jha-deva</key>
	<array>
		<string>uni091D094D0930</string>
		<string>uni091D094D</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>kadeva</string>
		<string>uni092C</string>
		<string>lladeva</string>
		<string>vadeva</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0935</string>
		<string>uni092C094D091C</string>
		<string>uni092C094D0930</string>
		<string>uni0935094D0930</string>
		<string>uni0935094D0939</string>
		<string>uni0915094D0930.alt</string>
		<string>uni0915094D</string>
		<string>uni092C094D</string>
		<string>uni0935094D</string>
		<string>uni0935094D0928094D</string>
		<string>uni0935094D0930094D</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>uni0932</string>
		<string>uni0932094D0930</string>
		<string>lvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>uni0932094D</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>madeva</string>
		<string>uni092E094D0930</string>
		<string>uni092E094D</string>
		<string>uni092E094D0928094D</string>
		<string>uni092E094D0930094D</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>nadeva</string>
		<string>uni0928094D0928</string>
		<string>uni0928094D0928094D092F</string>
		<string>uni0928094D092D</string>
		<string>uni0928094D092E</string>
		<string>uni0928094D0930</string>
		<string>uni0928094D</string>
		<string>uni0928094D0928094D</string>
		<string>uni0929094D</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>s</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>nnadeva</string>
		<string>padeva</string>
		<string>uni092B</string>
		<string>ssadeva</string>
		<string>uni0923094D0930</string>
		<string>uni092A094D091D</string>
		<string>uni092A094D091F</string>
		<string>uni092A094D0924</string>
		<string>uni092A094D0930</string>
		<string>uni092B094D0930</string>
		<string>uni0937094D091F</string>
		<string>uni0937094D091F094D092F</string>
		<string>uni0937094D0920</string>
		<string>uni0937094D0920094D092F</string>
		<string>uni0937094D0920094D0935</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>uni0923094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni0937094D</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>khadeva</string>
		<string>radeva</string>
		<string>shadeva</string>
		<string>sadeva</string>
		<string>uni0916094D0928</string>
		<string>uni0916094D0930</string>
		<string>radeva_uvowelsigndeva</string>
		<string>radeva_uuvowelsigndeva</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D0928</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D0930094D092F</string>
		<string>uni0936094D0935</string>
		<string>uni0938094D0924094D0930</string>
		<string>uni0938094D0925</string>
		<string>uni0938094D0930</string>
		<string>uni0916094D</string>
		<string>uni0936094D</string>
		<string>uni0938094D</string>
		<string>uni0936094D.loclMAR</string>
	</array>
	<key>@MMK_R_rra-deva</key>
	<array>
		<string>uni0931094D092F</string>
		<string>uni0931094D0939</string>
	</array>
	<key>@MMK_R_sh_r-deva</key>
	<array>
		<string>uni0936094D0930094D</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>tadeva</string>
		<string>uni0915094D0924094D0924</string>
		<string>uni0924094D0924</string>
		<string>uni0924094D0930</string>
		<string>uni0924094D0930094D092F</string>
		<string>uni0924094D0930.alt</string>
		<string>uni0924094D0930094D092F.alt</string>
		<string>rvocalicdeva</string>
		<string>rrvocalicdeva</string>
		<string>uni0924094D</string>
		<string>uni0924094D0924094D</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddhadeva</string>
		<string>dadeva</string>
		<string>uni091F094D091F</string>
		<string>uni091F094D091F094D092F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D0922</string>
		<string>uni091F094D0928</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D0935</string>
		<string>uni0920094D0920</string>
		<string>uni0920094D0920094D092F</string>
		<string>uni0920094D0928</string>
		<string>uni0920094D092F</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>thadeva</string>
		<string>uni092F</string>
		<string>uni0925094D0930</string>
		<string>uni092F094D0930</string>
		<string>uni0925094D</string>
		<string>uni092F094D</string>
		<string>uni092F094D0928094D</string>
		<string>uni092F094D0930094D</string>
	</array>
</dict>
</plist>
