<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_cdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-90</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-130</integer>
		<key>@MMK_R_dadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>74</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jadeva</key>
		<integer>11</integer>
		<key>@MMK_R_kadeva</key>
		<integer>10</integer>
		<key>@MMK_R_madeva</key>
		<integer>-55</integer>
		<key>@MMK_R_padeva</key>
		<integer>-20</integer>
		<key>@MMK_R_radeva</key>
		<integer>-80</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>33</integer>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>lladeva</key>
		<integer>16</integer>
		<key>ngadeva</key>
		<integer>80</integer>
		<key>uni0915094D0937094D0930</key>
		<integer>-20</integer>
		<key>uni091A094D091A</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_chadeva</key>
	<dict>
		<key>@MMK_R_jadeva</key>
		<integer>40</integer>
		<key>@MMK_R_kadeva</key>
		<integer>40</integer>
		<key>@MMK_R_madeva</key>
		<integer>20</integer>
		<key>@MMK_R_radeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>20</integer>
		<key>rradeva</key>
		<integer>20</integer>
		<key>uni092C</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_d_ra_uMatradeva</key>
	<dict>
		<key>@MMK_R_adeva</key>
		<integer>-30</integer>
		<key>@MMK_R_bhadeva</key>
		<integer>-120</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ladeva</key>
		<integer>-60</integer>
		<key>@MMK_R_madeva</key>
		<integer>-20</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_padeva</key>
		<integer>-90</integer>
		<key>@MMK_R_tadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_d_ra_uuMatradeva</key>
	<dict>
		<key>@MMK_R_adeva</key>
		<integer>-40</integer>
		<key>@MMK_R_bhadeva</key>
		<integer>-150</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-130</integer>
		<key>@MMK_R_dadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-110</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ladeva</key>
		<integer>-90</integer>
		<key>@MMK_R_madeva</key>
		<integer>-80</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-150</integer>
		<key>@MMK_R_padeva</key>
		<integer>-120</integer>
		<key>@MMK_R_tadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-110</integer>
		<key>uni0926094D09300941</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_dadeva</key>
	<dict>
		<key>@MMK_R_kadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_padeva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_ddadeva</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-30</integer>
		<key>nyadeva</key>
		<integer>-90</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_gdeva</key>
	<dict>
		<key>@MMK_R_radeva</key>
		<integer>-50</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_ghdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-130</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-130</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>52</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_jadeva</key>
		<integer>0</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>0</integer>
		<key>@MMK_R_kadeva</key>
		<integer>10</integer>
		<key>@MMK_R_madeva</key>
		<integer>-70</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-40</integer>
		<key>@MMK_R_radeva</key>
		<integer>0</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-10</integer>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>ngadeva</key>
		<integer>60</integer>
		<key>nnadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_jdeva</key>
	<dict>
		<key>@MMK_R_jadeva</key>
		<integer>-380</integer>
	</dict>
	<key>@MMK_L_jhdeva</key>
	<dict>
		<key>@MMK_R_madeva</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_kadeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_padeva</key>
		<integer>-30</integer>
		<key>@MMK_R_radeva</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_kdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>0</integer>
		<key>@MMK_R_cadeva</key>
		<integer>40</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_jadeva</key>
		<integer>50</integer>
		<key>@MMK_R_kadeva</key>
		<integer>0</integer>
		<key>@MMK_R_madeva</key>
		<integer>-50</integer>
		<key>@MMK_R_radeva</key>
		<integer>-20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-40</integer>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>lladeva</key>
		<integer>-90</integer>
		<key>ngadeva</key>
		<integer>-20</integer>
		<key>nyadeva</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_khdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-3</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>50</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>0</integer>
		<key>@MMK_R_kadeva</key>
		<integer>0</integer>
		<key>@MMK_R_ladeva</key>
		<integer>-40</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_padeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-20</integer>
		<key>lladeva</key>
		<integer>10</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_ldeva</key>
	<dict>
		<key>@MMK_R_ladeva</key>
		<integer>-70</integer>
		<key>@MMK_R_madeva</key>
		<integer>-120</integer>
		<key>@MMK_R_padeva</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_mdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_padeva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_ndeva</key>
	<dict>
		<key>@MMK_R_ghadeva</key>
		<integer>-160</integer>
		<key>@MMK_R_jadeva</key>
		<integer>50</integer>
		<key>@MMK_R_madeva</key>
		<integer>-100</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_ngadeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_nydeva</key>
	<dict>
		<key>@MMK_R_jadeva</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_padeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>40</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_madeva</key>
		<integer>10</integer>
		<key>@MMK_R_padeva</key>
		<integer>0</integer>
		<key>@MMK_R_radeva</key>
		<integer>0</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>0</integer>
		<key>rradeva</key>
		<integer>30</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_pdeva</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_jadeva</key>
		<integer>120</integer>
		<key>@MMK_R_kadeva</key>
		<integer>30</integer>
		<key>@MMK_R_madeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-20</integer>
		<key>ddadeva</key>
		<integer>90</integer>
		<key>nyadeva</key>
		<integer>50</integer>
		<key>uni093F</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_radeva</key>
	<dict>
		<key>@MMK_R_dadeva</key>
		<integer>0</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-20</integer>
		<key>vadeva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_sdeva</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>90</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_jadeva</key>
		<integer>40</integer>
		<key>@MMK_R_madeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_tdeva</key>
	<dict>
		<key>@MMK_R_yadeva</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_ttadeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_dadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_ydeva</key>
	<dict>
		<key>@MMK_R_radeva</key>
		<integer>-40</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>20</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-160</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-270</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>quotedblright</key>
		<integer>-130</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-130</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-160</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>A</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>40</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>60</integer>
		<key>quoteright</key>
		<integer>40</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-170</integer>
		<key>period</key>
		<integer>-160</integer>
		<key>quotedblright</key>
		<integer>60</integer>
		<key>quoteright</key>
		<integer>50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>quoteright</key>
		<integer>20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-160</integer>
		<key>comma</key>
		<integer>-180</integer>
		<key>quotedblright</key>
		<integer>80</integer>
		<key>quoteright</key>
		<integer>40</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
	</dict>
	<key>anusvaradeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>candrabindudeva</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-130</integer>
	</dict>
	<key>dottedcircle</key>
	<dict>
		<key>acutedeva</key>
		<integer>-750</integer>
		<key>aivowelsigndeva</key>
		<integer>-800</integer>
		<key>aivowelsigndeva_anusvaradeva</key>
		<integer>-800</integer>
		<key>anudattadeva</key>
		<integer>-150</integer>
		<key>anusvaradeva</key>
		<integer>-790</integer>
		<key>candrabindudeva</key>
		<integer>-700</integer>
		<key>ecandravowelsigndeva</key>
		<integer>-700</integer>
		<key>eshortvowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva</key>
		<integer>-800</integer>
		<key>evowelsigndeva_anusvaradeva</key>
		<integer>-800</integer>
		<key>gravedeva</key>
		<integer>-750</integer>
		<key>nuktadeva</key>
		<integer>-800</integer>
		<key>rrvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>rvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>udattadeva</key>
		<integer>-800</integer>
		<key>uni0930094D</key>
		<integer>-800</integer>
		<key>uni0930094D0902</key>
		<integer>-750</integer>
		<key>uni09470930094D</key>
		<integer>-800</integer>
		<key>uni09470930094D0902</key>
		<integer>-800</integer>
		<key>uni09480930094D</key>
		<integer>-800</integer>
		<key>uni09480930094D0902</key>
		<integer>-800</integer>
		<key>uni094D0930</key>
		<integer>-830</integer>
		<key>uni094D09300941</key>
		<integer>-830</integer>
		<key>uni094D09300942</key>
		<integer>-830</integer>
		<key>uuvowelsigndeva</key>
		<integer>-800</integer>
		<key>uvowelsigndeva</key>
		<integer>-800</integer>
		<key>viramadeva</key>
		<integer>-800</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<integer>-80</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedblright</key>
		<integer>180</integer>
		<key>quoteright</key>
		<integer>160</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>seven</key>
		<integer>-60</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>Y</key>
		<integer>-100</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>quotedblright</key>
		<integer>-90</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>quotedblright</key>
		<integer>-150</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>A</key>
		<integer>-130</integer>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>30</integer>
		<key>V</key>
		<integer>60</integer>
		<key>W</key>
		<integer>60</integer>
		<key>Y</key>
		<integer>80</integer>
		<key>c</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-120</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>30</integer>
		<key>V</key>
		<integer>30</integer>
		<key>W</key>
		<integer>40</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>30</integer>
		<key>o</key>
		<integer>-90</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-110</integer>
	</dict>
	<key>rradeva</key>
	<dict>
		<key>@MMK_R_kadeva</key>
		<integer>-40</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-80</integer>
		<key>six</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-40</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>twodeva</key>
		<integer>-50</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>uni0939094D</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>50</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_padeva</key>
		<integer>-70</integer>
		<key>nyadeva</key>
		<integer>-70</integer>
	</dict>
</dict>
</plist>
