<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>s</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_quotedblright</key>
	<array>
		<string>quotedblright</string>
	</array>
</dict>
</plist>
