<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>70</integer>
		<key>quotedblright</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_cdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-160</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-197</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>1</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-76</integer>
		<key>@MMK_R_madeva</key>
		<integer>10</integer>
		<key>@MMK_R_padeva</key>
		<integer>-40</integer>
		<key>@MMK_R_radeva</key>
		<integer>-20</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-60</integer>
		<key>chadeva</key>
		<integer>-40</integer>
		<key>dhadeva</key>
		<integer>-80</integer>
		<key>uni092B</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_d_ra_uMatradeva</key>
	<dict>
		<key>@MMK_R_dadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_padeva</key>
		<integer>-20</integer>
		<key>uni0926094D09260942</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_d_ra_uuMatradeva</key>
	<dict>
		<key>@MMK_R_cadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_dadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>0</integer>
		<key>@MMK_R_padeva</key>
		<integer>0</integer>
		<key>@MMK_R_radeva</key>
		<integer>0</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>0</integer>
		<key>uni0926094D09260941</key>
		<integer>-110</integer>
		<key>uni0926094D09280941</key>
		<integer>-120</integer>
		<key>uni0926094D09350941</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_ddadeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-70</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_gdeva</key>
	<dict>
		<key>@MMK_R_ghadeva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_ghdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-190</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-150</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>20</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_jhadeva</key>
		<integer>40</integer>
		<key>@MMK_R_madeva</key>
		<integer>-80</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-120</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-20</integer>
		<key>dhadeva</key>
		<integer>-60</integer>
		<key>nnadeva</key>
		<integer>-100</integer>
		<key>ssadeva</key>
		<integer>-100</integer>
		<key>uni092B</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_jdeva</key>
	<dict>
		<key>@MMK_R_jadeva</key>
		<integer>-360</integer>
	</dict>
	<key>@MMK_L_jhdeva</key>
	<dict>
		<key>@MMK_R_madeva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_kadeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_kdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>0</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-165</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-150</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-3</integer>
		<key>@MMK_R_madeva</key>
		<integer>-130</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_radeva</key>
		<integer>-120</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-110</integer>
		<key>lladeva</key>
		<integer>-90</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
		<key>thadeva</key>
		<integer>-1</integer>
	</dict>
	<key>@MMK_L_khdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-150</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-120</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-30</integer>
		<key>@MMK_R_padeva</key>
		<integer>-80</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-70</integer>
		<key>dhadeva</key>
		<integer>-50</integer>
		<key>nnadeva</key>
		<integer>-50</integer>
		<key>nyadeva</key>
		<integer>-20</integer>
		<key>uni092B</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_ldeva</key>
	<dict>
		<key>@MMK_R_ladeva</key>
		<integer>-10</integer>
		<key>@MMK_R_madeva</key>
		<integer>-110</integer>
		<key>@MMK_R_padeva</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_mdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-110</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_gadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_padeva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_ndeva</key>
	<dict>
		<key>@MMK_R_ghadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_jadeva</key>
		<integer>60</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_nydeva</key>
	<dict>
		<key>@MMK_R_jadeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_padeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-10</integer>
		<key>@MMK_R_radeva</key>
		<integer>20</integer>
		<key>bhadeva</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_pdeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-110</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>10</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_iMatra</key>
		<integer>30</integer>
		<key>@MMK_R_madeva</key>
		<integer>-140</integer>
		<key>@MMK_R_radeva</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_radeva</key>
	<dict>
		<key>@MMK_R_gadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_sdeva</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>80</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-40</integer>
		<key>@MMK_R_madeva</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_tdeva</key>
	<dict>
		<key>@MMK_R_yadeva</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_ttadeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-110</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ghadeva</key>
		<integer>-80</integer>
		<key>@MMK_R_jadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_kadeva</key>
		<integer>-50</integer>
		<key>@MMK_R_nadeva</key>
		<integer>-60</integer>
		<key>@MMK_R_yadeva</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_ydeva</key>
	<dict>
		<key>@MMK_R_bhadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_cadeva</key>
		<integer>-70</integer>
		<key>@MMK_R_ddadeva</key>
		<integer>70</integer>
		<key>@MMK_R_hadeva</key>
		<integer>-20</integer>
		<key>@MMK_R_padeva</key>
		<integer>-60</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>-100</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-70</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-140</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-110</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-160</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>A</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>quotedblright</key>
		<integer>90</integer>
		<key>quoteright</key>
		<integer>70</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>80</integer>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-170</integer>
		<key>quotedblright</key>
		<integer>90</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>110</integer>
		<key>A</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-170</integer>
		<key>period</key>
		<integer>-180</integer>
		<key>quotedblright</key>
		<integer>110</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>80</integer>
		<key>quotedblright</key>
		<integer>90</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>110</integer>
		<key>comma</key>
		<integer>-140</integer>
		<key>quotedblright</key>
		<integer>110</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>20</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>quotedblright</key>
		<integer>10</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>-100</integer>
	</dict>
	<key>dottedcircle</key>
	<dict>
		<key>aivowelsigndeva</key>
		<integer>-700</integer>
		<key>aivowelsigndeva_anusvaradeva</key>
		<integer>-700</integer>
		<key>anusvaradeva</key>
		<integer>-700</integer>
		<key>candrabindudeva</key>
		<integer>-800</integer>
		<key>ecandravowelsigndeva</key>
		<integer>-700</integer>
		<key>eshortvowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva</key>
		<integer>-700</integer>
		<key>evowelsigndeva_anusvaradeva</key>
		<integer>-700</integer>
		<key>nuktadeva</key>
		<integer>-700</integer>
		<key>rrvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>rvocalicvowelsigndeva</key>
		<integer>-800</integer>
		<key>udattadeva</key>
		<integer>-800</integer>
		<key>uni0930094D</key>
		<integer>-700</integer>
		<key>uni0930094D0902</key>
		<integer>-700</integer>
		<key>uni09470930094D</key>
		<integer>-700</integer>
		<key>uni09470930094D0902</key>
		<integer>-700</integer>
		<key>uni09480930094D</key>
		<integer>-700</integer>
		<key>uni09480930094D0902</key>
		<integer>-700</integer>
		<key>uni094D0930</key>
		<integer>-800</integer>
		<key>uni094D09300941</key>
		<integer>-800</integer>
		<key>uni094D09300942</key>
		<integer>-800</integer>
		<key>uuvowelsigndeva</key>
		<integer>-700</integer>
		<key>uvowelsigndeva</key>
		<integer>-700</integer>
		<key>viramadeva</key>
		<integer>-700</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
	</dict>
	<key>eightdeva</key>
	<dict>
		<key>ninedeva</key>
		<integer>-80</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedblright</key>
		<integer>300</integer>
		<key>quoteright</key>
		<integer>330</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>seven</key>
		<integer>-70</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotedblright</key>
		<integer>-80</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>G</key>
		<integer>40</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>one</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-100</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-130</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>A</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>70</integer>
		<key>V</key>
		<integer>70</integer>
		<key>W</key>
		<integer>60</integer>
		<key>X</key>
		<integer>70</integer>
		<key>Y</key>
		<integer>90</integer>
		<key>b</key>
		<integer>30</integer>
		<key>d</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-50</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>T</key>
		<integer>60</integer>
		<key>V</key>
		<integer>50</integer>
		<key>W</key>
		<integer>50</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>70</integer>
		<key>o</key>
		<integer>-60</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-70</integer>
		<key>four</key>
		<integer>-90</integer>
		<key>one</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>-90</integer>
		<key>zero</key>
		<integer>-50</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>four</key>
		<integer>20</integer>
		<key>seven</key>
		<integer>-30</integer>
	</dict>
	<key>sixdeva</key>
	<dict>
		<key>twodeva</key>
		<integer>-50</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>quotedblright</key>
		<integer>-50</integer>
	</dict>
	<key>uni0926094D09170941</key>
	<dict>
		<key>@MMK_R_ddadeva</key>
		<integer>-100</integer>
		<key>@MMK_R_padeva</key>
		<integer>-90</integer>
		<key>@MMK_R_ttadeva</key>
		<integer>-90</integer>
	</dict>
	<key>uni0930094D</key>
	<dict>
		<key>@MMK_R_kadeva</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>quotedblright</key>
		<integer>50</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>quotedblright</key>
		<integer>40</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>quotedblright</key>
		<integer>50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>quotedblright</key>
		<integer>70</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>seven</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
